{% extends 'navbar.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <h3 align="center"><u>*****Add Details*****</u></h3>
    <table border="2"  align="center" style=" background-color:aqua">
   <tr>
            <td> Name:</td>
            <td>
                <input type="text" name="txtnm" value="{{ data.Student_Name }}">
            </td>
   </tr>
         <tr>
            <td> Age:</td>
            <td>
                <input type="number" name="txtag" value="{{ data.Student_Age }}">
            </td>
   </tr> <tr>
            <td> Phno:</td>
            <td>
                <input type="number" name="txtph" value="{{ data.Student_Phno }}">
            </td>
   </tr> <tr>
            <td> City:</td>
            <td>
                <select name="ddlCity">
                    <option selected>{{ data.Student_City }}</option>
                    {% for i in Student_City %}
                       <option>  {{ i.City_Name }} </option>
                    {% endfor %}
                </select>
            </td>
   </tr> <tr>
            <td> Course:</td>
            <td>
               <select name="ddlCourse">
                   <option selected>{{ data.Student_Course }}</option>
                    {% for i in Student_Course %}
                       <option>  {{ i.Course_Name }} </option>
                    {% endfor %}
               </select>
            </td>

   <tr><td><input type="submit" name="txtsu"> </td></tr>
    </table>
</form>

{% endblock %}